<tr>
  <td></td>
  <td>
    <p class="f-fallback purchase_total purchase_total--label" style="margin-top: 10px; text-align: right; font-weight: bold; color: #333333; padding: 0 15px 0 0;">
      <%= raw(adjustment.label) %>:
    </p>
  </td>
  <td class="purchase_total-col" style="vertical-align: bottom;">
    <p class="f-fallback purchase_total" style="margin-top: 10px; text-align: right; font-weight: bold; color: #333333;">
      <%= Spree::Money.new(adjustment.amount, currency: order.currency) %>
    </p>
  </td>
</tr>
