<div class="float-right mb-3">
  <button type="button" class="btn btn-success" onclick="saveContent()">Save Content</button>
</div>

<script src="https://editor.unlayer.com/embed.js"></script>

<div id="editor-container" style="height: 90vh;"></div>

<script>
  var design = <%= raw @template.content_json.to_json %>;

  const editor = unlayer.createEditor({
    id: 'editor-container',
    displayMode: 'email',
  });

  editor.loadDesign(design);

  function saveContent() {
    editor.exportHtml(function(data) {
      var json = JSON.stringify(data.design);
      var html = data.html;

      $.ajax({
        url: "/admin/templates/" + <%= @template.id %>,
        method: 'PATCH',
        data: { content_json: json, content_html: html},
        success: function(response) {
          console.log('Content saved successfully:', response);
        },
        error: function(error) {
          console.error('Error saving content:', error);
        }
      });
    });
  }

</script>
