<p><strong>Dear {{ username }} </strong>,&nbsp;</p>
<p>Your return  authorization has been approved for  {{user_email}}&nbsp; having order number {{order_number}}</p>
<p>with the following items&nbsp;<br />&nbsp; &nbsp; &nbsp; {{reimbursement_item_details}} &nbsp;</p>
<p>Thanks&nbsp;</p>
