<p><strong>Dear {{ username }} </strong>,&nbsp;</p>
<p>Your return  authorization has been approved for {{return_authorization_number}} with the email&nbsp; {{user_email}}&nbsp; having order number {{order_number}} of total amount {{order_total}},</p>
<p>with the following return items&nbsp;<br />&nbsp; &nbsp; &nbsp; {{return_item_details}} &nbsp;</p>
<p>the tax amount for the order is {{tax}}</p>
<p>the address for the return will be
{{address1}},{{city}},{{zipcode}},{{phone}}
</p>
<p>Thanks&nbsp;</p>
