<p><strong>hi {{ username }} </strong>,&nbsp;</p>
<p>New order has been placed with the email {{user_email}}&nbsp; &nbsp;having order number {{order_number}} of total amount {{order_total}},</p>
<p>with the following items&nbsp;<br />&nbsp; &nbsp; &nbsp; {{line_item_details}} &nbsp;</p>
<p>the tax amount for the order is {{tax}}.</p>
<p>the subtotal cost of line items is&nbsp; {{subtotal}} is recieved by the store&nbsp; {{store_name}}.</p>
<p>Thanks&nbsp;</p>
