<div class="float-right mb-3 mr-3">
  <button type="button" class="btn btn-info"" data-toggle="modal" data-target="#testEmailModal"> Send Test Email </button>
</div>

<div class="modal fade" id="testEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b> Test Email </b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: test_email_admin_template_path(template), method: :post, remote: true, format: :html) do |form| %>
          <div class="mb-3">
            <%= form.label :email, 'Email Address:', class: 'col-form-label' %>
            <%= form.email_field :email, class: 'form-control', required: true %>
          </div>

          <div class="modal-footer">
            <%= form.submit 'Send', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
